<template>
  <a :href="btn_url">
    <button class="outline-button">
      <h1>{{btn_text}} <font-awesome-icon :icon="btn_icon" /></h1>
      <span class="outline-button__lines">
        <span class="outline-button__line outline-button__line--horizontal outline-button__line--top"></span>
        <span class="outline-button__line outline-button__line--vertical outline-button__line--right"></span>
        <span class="outline-button__line outline-button__line--horizontal outline-button__line--bottom"></span>
        <span class="outline-button__line outline-button__line--vertical outline-button__line--left"></span>
      </span>
    </button>
  </a>
</template>

<script>
export default {
  name: 'Button',
  props: [
    'btn_text',
    'btn_url',
    'btn_icon'
  ],
  data () {
    return {
    }
  }
}
</script>

<style scoped lang="scss">
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$timing: .6s;

// html, body {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

* {
  box-sizing: border-box;
}

h1{
  font-size: 42px
}

button{
  width: 475px;
  max-width: 96vw;
  margin: 5px;
}

.outline-button {
  // appearance: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(white, .1) inset;
  background: none;
  padding: 0.3rem 4rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: white;
  &:hover {
    .outline-button__line {
      transform: none;
    }
  }
}

button{
  user-select: none
}

button:focus{
  outline: none;
}

.outline-button__lines {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.outline-button__line {
  background: white;
  position: absolute;
  transition: transform $timing $easeInOutQuint;

  &--horizontal {
    width: 100%;
    height: 2px;
    transition-delay: $timing / 2.2;
  }

  &--vertical {
    width: 2px;
    height: 101%;
    transition-delay: none;
  }

  &--top {
    top: 0;
    left: 0;
    transform: translateX(-101%);
  }

  &--right {
    top: 0;
    right: 0;
    transform: translateY(-101%);
  }

  &--bottom {
    bottom: 0;
    left: 0;
    transform: translateX(101%);
  }

  &--left {
    top: 0;
    left: 0;
    transform: translateY(100%);
  }
}
</style>
