<template>
  <div id="app">
    <b-img src="./assets/logo_cropped.png" fluid width="250" />

    <b-container style="max-width:1750px;
    margin:0 auto;">
      <b-row>
        <h1 class="divider line one-line">USER TOOLS</h1>
      </b-row>
      <b-row>
        <Button btn_text="REQUEST" btn_url="http://ombi.mediaserver.pro/" btn_icon="plus"/>
        <Button btn_text="PLEX" btn_url="https://app.plex.tv/desktop" btn_icon="play-circle" />
        <Button btn_text="BITWARDEN" btn_url="https://bitwarden.mediaserver.pro/" btn_icon="shield-alt" />
        <Button btn_text="MATRIX" btn_url="https://riot.im/" btn_icon="comments" />
        <Button btn_text="NEXTCLOUD" btn_url="https://nextcloud.mediaserver.pro/" btn_icon="cloud" />
        <Button btn_text="SPEEDTEST" btn_url="https://mediaserver.pro/speedtest" btn_icon="tachometer-alt" />
      </b-row>

      <b-row>
        <h1 class="divider line one-line">ADMIN TOOLS</h1>
      </b-row>
      <b-row class="top-buffer">
        <Button btn_text="RADARR" btn_url="https://radarr.mediaserver.pro/" btn_icon="film" />
        <Button btn_text="SONARR" btn_url="https://sonarr.mediaserver.pro/" btn_icon="tv"/>
        <Button btn_text="LIDARR" btn_url="https://lidarr.mediaserver.pro/" btn_icon="music"/>
        <Button btn_text="NZBGET" btn_url="https://nzbget.mediaserver.pro/" btn_icon="cloud-download-alt"/>
        <Button btn_text="FLOOD" btn_url="https://flood.mediaserver.pro/" btn_icon="download"/>
        <Button btn_text="TAUTULLI" btn_url="https://tautulli.mediaserver.pro/" btn_icon="chart-pie" />
        <Button btn_text="ROUTER" btn_url="https://router.mediaserver.pro/" btn_icon="wifi" />
        <Button btn_text="PROXY" btn_url="https://mediaserver.pro/proxy" btn_icon="globe" />
        <Button btn_text="JACKETT" btn_url="https://jackett.mediaserver.pro/UI/Dashboard" btn_icon="tshirt" />
        <Button btn_text="NETDATA" btn_url="https://mediaserver.pro/netdata" btn_icon="table" />
        <Button btn_text="KUBERNETES" btn_url="https://kube.mediaserver.pro/" :btn_icon="{ prefix: 'fab', iconName: 'docker' }" />
        <Button btn_text="ZEROTIER" btn_url="https://zerotier.mediaserver.pro/" btn_icon="sitemap" />
      </b-row>
    </b-container>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import Button from './components/Button'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Button
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
html{
  height: 100%;
  background: url('./assets/bg_alt_2.jpg') no-repeat center center fixed;
  background-size:cover;
}
.top-buffer{
  margin-top:20px;
}
</style>

<style lang="scss">
.divider {
  display: flex;
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em 4em;
  &:before,
  &:after {
    height: 4px;
    margin: 0 1em;
  }
}

@media only screen and (max-width: 775px)  {
  .line{
    margin: 1em 0em;
  }
}

  .one-line {
    &:before,
    &:after {
      background: rgb(255, 255, 255);
    }
  }

  .razor {
    &:before,
    &:after {
      box-shadow: 0 0.5px 0 black; // Chrome
      // border-bottom: 0.5px solid black; // Safari
    }
  }

  .double-razor {
    &:before,
    &:after {
      height: 3px;
      box-shadow: // Chrome
        0 -0.5px 0 black,
        0 0.5px 0 black;
      // border: solid black; // Safari
      border-width: 0;
    }
  }

  .glow {
    &:before,
    &:after {
      height: 6px;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      border-radius: 5px;
    }
    &:before {
      background: linear-gradient(to right, blue, hotpink);
    }
    &:after {
      background: linear-gradient(to left, blue, hotpink);
    }
  }

// Gradients
.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: black;
  &:before {
    background: linear-gradient(to right, white, black);
  }
  &:after {
    background: linear-gradient(to left, white, black);
  }
}

// Ribbon thing
.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;
  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}
</style>
